<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
        {{#if devoured}}Chow Time!{{else}}EAT UP!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>